/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {} */

/* 2xL */
/* @media (min-width: 1536px) {} */

:root {

    --clr-dark: #020617;
    --clr-light: #f0fdf4;
    --clr-green400: #4ade80;
    --clr-green700: #15803d;
    --clr-sky900: #0c4a6e;
    --clr-sky900dark: #051f2e; 
    --clr-white: white; 

    /* Sizes */
    --sizes-xxs: 0.5rem;
    --sizes-xs: 0.75rem;
    --sizes-sm: 0.875rem;
    --sizes-base: 1rem;
    --sizes-lg: 1.125rem;
    --sizes-xl: 1.25rem;
    --sizes-2xl: 1.5rem;
    --sizes-3xl: 1.875rem;
    --sizes-4xl: 2.25rem;
    --sizes-5xl: 3rem;
    --sizes-6xl: 3.75rem;
    --sizes-7xl: 4.5rem;
    --sizes-8xl: 6rem;
    --sizes-9xl: 8rem;
    --sizes-10xl: 10rem;
}


/* General Styling */


* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

a {
    color: var(--clr-green700);
}

strong {
    color: var(--clr-sky900);
}

img,
video,
canvas,
svg,
picture {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 1px solid red;
}

.header__logo {
    flex: 1;
    align-items: center;
    padding: 0;
    border: 1px solid red;

    text-decoration: none;
    font-size: var(--size-s);
    font-weight: 600;
    color: var(--clr-accent600);
    letter-spacing: -0.01em;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid red;
    padding: 0;
    gap: 1.5em;
}

.header__link {
    font-size: var(--size-small);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-accent600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.header__link :hover {
    color: var(--clr-accent100);

}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    /* align-items: center; */
    border: 1px solid green;
}

.hero__title {
    color: var(--clr-primary600);
    text-transform: uppercase;
    font-size: var(--size-big);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-small);
    color: var(--clr-accent600);
}

.hero_img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

/* Utility Classes */

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-sky900);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(rgb(5, 31, 46), 0.5), 
    0 6px 6px rgba(rgb(5, 31, 46), 0.5), 
    0 0 100px -10px var(--clr-sky900);

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(rgb(5, 31, 46), 0.25), 
    0 10px 10px rgba(rgb(5, 31, 46), 0.22), 
    0 0 120px -10px var(--clr-sky900);
}

.container {
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 5rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {} */

/* 2xL */
/* @media (min-width: 1536px) {} */


