/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {} */

/* 2xL */
/* @media (min-width: 1536px) {} */


/* https://piccalil.li/blog/a-modern-css-reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, 
body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- */

:root {

    --clr-dark: #020617;
    --clr-light: #f0fdf4;
    --clr-green400: #4ade80;
    --clr-green700: #15803d;
    --clr-sky900: #0c4a6e;
    --clr-sky900dark: #051f2e; 
    --clr-white: white; 

    /* Sizes */
    --sizes-xxs: 0.5rem;
    --sizes-xs: 0.75rem;
    --sizes-sm: 0.875rem;
    --sizes-base: 1rem;
    --sizes-lg: 1.125rem;
    --sizes-xl: 1.25rem;
    --sizes-2xl: 1.5rem;
    --sizes-3xl: 1.875rem;
    --sizes-4xl: 2.25rem;
    --sizes-5xl: 3rem;
    --sizes-6xl: 3.75rem;
    --sizes-7xl: 4.5rem;
    --sizes-8xl: 6rem;
    --sizes-9xl: 8rem;
    --sizes-10xl: 10rem;
}


/* General Styling */


* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

a {
    color: var(--clr-green700);
}

strong {
    color: var(--clr-sky900);
}

img,
video,
canvas,
svg,
picture {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header__logo {
    flex: 1;
    align-items: center;
    padding: 0;

    text-decoration: none;
    font-size: var(--sizes-xs);
    font-weight: 600;
    color: var(--clr-accent600);
    letter-spacing: -0.01em;
}

.header__menu {
    display: none;
}

.header__bars {
    color: var(--clr-dark);
    width: var(--sizes-2xl);
    height: var(--sizes-2xl);
    display: block;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__title {
    color: var(--clr-dark);
    font-size: var(--sizes-3xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--sizes-base);
    color: var(--clr-dark);
    line-height: 0.9;
}

.hero_img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.text-space {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-space__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-space__title {
    font-size: var(--sizes-2xl);
    color: var(--clr-sky900dark);
}

.text-space__description {
    max-width: 60ch;
    font-size: var(--sizes-sm);
    color: var(--clr-dark);
}

.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    
    
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer__logo {
    align-items: center;
    padding: 0;

    text-decoration: none;
    font-size: var(--sizes-sm);
    font-weight: 600;
    color: var(--clr-accent600);
    letter-spacing: -0.01em;
}

.footer_email {
    align-items: center;
    padding: 0;

    font-size: var(--sizes-xxs);
    font-weight: 600;
    color: var(--clr-accent600);
    letter-spacing: -0.01em;
}

.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    font-size: var(--sizes-sm);
    text-decoration: none;
    font-weight: 600;  
    color: var(--clr-dark);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.mobile-nav__link:hover {
    color: var(--clr-green400);
}

.mobile-nav__x {
    display: block;
    width: var(--sizes-xl);
    height: var(--sizes-xl);
    color: var(--clr-dark);
}

.mobile-nav__x:hover {
    color: var(--clr-green400);
}


/* Media sizes */

/* xs */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;;
    }
    
    .hero__title {
        font-size: var(--sizes-4xl);
    }
    
    .hero__description {
        font-size: var(--sizes-lg);
    }
    
    .hero_img {
        width: 6.5rem;
        height: 6.5rem;
    }

    .text-space {
        gap: 1.5rem;
    }
    
    .text-space__content {
        gap: 1.5rem;
    }
    
    .text-space__title {
        font-size: var(--sizes-3xl);
    }
    
    .text-space__description {
        font-size: var(--sizes-base);
    }
}

/* sm */
@media (min-width: 640px) {
    .text-space__img-wrapper {
        margin: 0 auto;
    }

    .text-space__img {
        width: 28.6875rem;
    }
}

/* md */
@media (min-width: 768px) {
       
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 1.5em;
    }
    
    .header__link {
        font-size: var(--sizes-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-dark);
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }
    
    .header__link:hover {
        color: var(--clr-green400);
    
    }

    .header__bars {
        display: none;
    }
}

/* Lg */
@media (min-width: 1024px) {
    .header__link {
        font-size: var(--sizes-lg);
   }

   .header__logo {
        font-size: var(--sizes-lg);
   }
    

.hero__title {
    font-size: var(--sizes-6xl);
}

.hero__description {
    font-size: var(--sizes-2xl);
}

.hero_img {
    width: 8rem;
    height: 8rem;
}

.text-space {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-space__title {
    font-size: var(--sizes-4xl);
}

.text-space__description {
    font-size: var(--sizes-lg);
}
}

/* xL */
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }

    .hero__title {
        font-size: var(--sizes-8xl);
    }
    
    .hero__description {
        font-size: var(--sizes-4xl);
    }
    
    .hero_img {
        width: 10rem;
        height: 10rem;
    }

    .text-space__content {
        gap: 2rem;
    }
    
.text-space__title {
    font-size: var(--sizes-5xl);
}

.text-space__description {
    font-size: var(--sizes-xl);
}

.text-space__img {
    width: 30.75rem;
}

.footer__logo {
    font-size: var(--sizes-base);
    font-weight: 600;
}

.footer_email {
    font-size: var(--sizes-sm);
    font-weight: 600;
}

}


/* Utility Classes */

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-sky900);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(rgb(5, 31, 46), 0.5), 
    0 6px 6px rgba(rgb(5, 31, 46), 0.5), 
    0 0 100px -10px var(--clr-sky900);

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(rgb(5, 31, 46), 0.25), 
    0 10px 10px rgba(rgb(5, 31, 46), 0.22), 
    0 0 120px -10px var(--clr-sky900);
}

.container {
    /* width: 100%; */
    /* margin-left: auto; 
    margin-right: auto; */
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */

    --max-width: 1110px;
    --padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto; */

}

.section {
    margin-top: 5rem;
}

.center {
    justify-content: center;
}
